@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
}

.profil-image {
  background-image: url("../defaultImg.png");
}
